.circle {
  //border-radius: 50%;
}

.font-small {
  font-size: 12px;
}

.mlr35 {
  margin: 0 10px;
}

.display-in {
  display: inline;
}

.display-in-block {
  display: inline-block;
}

.border-thin {
  border: 3px solid #E6E6F3;
  height: 200px;
  width: 200px;
  padding: 70px 65px;
  font-size: 40px;
  color: #75D9E6;
}