.button-group {
  display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
  justify-items: center;
}

.button-group .button {
  @include rem(margin-right, 8px);

  &:last-child {
    margin-right: 0;
  }
}
